  <div *ngIf="mensaje" class="alert" [ngClass]="{
      'alert-success': tipoMensaje === 'success',
      'alert-danger': tipoMensaje === 'danger'
    }" role="alert">
    {{ mensaje }}
  </div>
<section class="create-product-page container py-4">
  <h2 class="text-center mb-4">Crear Nuevo Producto</h2>

  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-4">
          <form class="row g-4" (ngSubmit)="createProducts()" #productForm="ngForm">
            <div class="col-md-6">
              <label for="name" class="form-label fw-semibold">Nombre del producto</label>
              <input
                id="name"
                type="text"
                [(ngModel)]="producto.name"
                name="name"
                class="form-control"
                placeholder="Ej: Audífonos Bluetooth"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="price" class="form-label fw-semibold">Precio</label>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input
                  id="price"
                  type="number"
                  [(ngModel)]="producto.price"
                  name="price"
                  class="form-control"
                  min="0"
                  step="1000"
                  required
                />
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mt-3">
              <label for="promo" class="form-label fw-semibold me-3 mb-0">¿Está en promoción?</label>
              <input
                class="form-check-input"
                type="checkbox"
                id="promo"
                [(ngModel)]="producto.promo"
                name="promo"
                
              />
            </div>
            <div class="col-md-6">
              <label for="porcentPromo" class="form-label fw-semibold">Valor promoción (%)</label>
              <div class="input-group">
                <input
                  id="porcentPromo"
                  type="number"
                  [(ngModel)]="producto.porcentPromo"
                  name="porcentPromo"
                  class="form-control"
                  min="1"
                  max="100"
                  [disabled]="!producto.promo"
                  [required]="producto.promo"
                />
                <span class="input-group-text">%</span>
              </div>
            </div>
            <div class="col-12 text-end mt-3">
              <button type="submit" class="btn btn-primary px-4 py-2 rounded-3">
                <i class="bi bi-save me-2"></i> Guardar producto
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
